// General
$width-wrapper: 1200px;

// Colours
$colour-main: #222;
$colour-blue: #1c6ffe;
$colour-background: #f0f0f0;
$colour-wrapper: #fff;

// Fonts
$font-family-space-mono: 'Space Mono', monospace;
$font-family-work-sans: 'Work Sans', sans-serif;
$font-family: $font-family-work-sans;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;