footer {
    display: block;
    background-color: #333;
    font-family: $font-family;
    font-size: 16px;
    color: #fff;
    padding: 50px 0;

    .wrapper {
        background-color: #333;
    }
}